target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath

.DS_Store
Thumbs.db

karate-reports/
surefire-reports/
